In [1]:
import pandas as pd
import itertools

In [2]:
df=pd.read_csv(r'D:\notes\sem 6\ml lab\pg1\ENJOYSPORT.csv',header=None)
df.drop(0,axis=0,inplace=True)
df.head()

       0     1       2       3     4       5  6
1  Sunny  Warm  Normal  Strong  Warm    Same  1
2  Sunny  Warm    High  Strong  Warm    Same  1
3  Rainy  Cold    High  Strong  Warm  Change  0
4  Sunny  Warm    High  Strong  Cool  Change  1

In [3]:
row_len,col_len=df.shape

### getting the Version_space

In [4]:
new_list=list()
for i in range(col_len-1):
    version_space=set()
    for index,row in df.iterrows():
        version_space.add(row[i])
        version_space.add('$')
        version_space.add('?')
    new_list.append(list(version_space))
new_list

[['$', 'Rainy', 'Sunny', '?'],
 ['Warm', '$', 'Cold', '?'],
 ['Normal', '$', 'High', '?'],
 ['$', '?', 'Strong'],
 ['Cool', 'Warm', '$', '?'],
 ['$', 'Change', '?', 'Same']]

In [5]:
version_space=list(itertools.product(*new_list))
print('total no element in versionSpace',len(version_space))
version_space[:10]

total no element in versionSpace 3072

[('$', 'Warm', 'Normal', '$', 'Cool', '$'),
 ('$', 'Warm', 'Normal', '$', 'Cool', 'Change'),
 ('$', 'Warm', 'Normal', '$', 'Cool', '?'),
 ('$', 'Warm', 'Normal', '$', 'Cool', 'Same'),
 ('$', 'Warm', 'Normal', '$', 'Warm', '$'),
 ('$', 'Warm', 'Normal', '$', 'Warm', 'Change'),
 ('$', 'Warm', 'Normal', '$', 'Warm', '?'),
 ('$', 'Warm', 'Normal', '$', 'Warm', 'Same'),
 ('$', 'Warm', 'Normal', '$', '$', '$'),
 ('$', 'Warm', 'Normal', '$', '$', 'Change')]

In [9]:
def apply(key:tuple,df:pd.DataFrame)->int:
    '''Returns 0 for consistent hypothesis for the given Dataframe \n
    Returns 1 for inconsistent hypothesis for the given Dataframe'''
    for index,row in df.iterrows():
        flag=0
        for i in range(col_len-1):
            if(key[i]=='?' or key[i]==row[i]):
                flag+=1
            else:
                continue
        if(flag==col_len-1 and row[col_len-1]=='1') or (flag!=col_len-1 and row[col_len-1]=='0'):
            continue
        else:
            return 1
    return 0
# apply(('Sunny', 'Warm', '?', 'Strong', '?', '?'),df)

In [10]:
for i in version_space:
    p=apply(i,df)
    if(p==0):
        print(i)

('Sunny', 'Warm', '?', '?', '?', '?')
('Sunny', 'Warm', '?', 'Strong', '?', '?')
('Sunny', '?', '?', '?', '?', '?')
('Sunny', '?', '?', 'Strong', '?', '?')
('?', 'Warm', '?', '?', '?', '?')
('?', 'Warm', '?', 'Strong', '?', '?')